.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background: steelblue;
}
.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
  background: white;
}
.Bttn {
  background-color: white;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 1rem;
}
.counter {
  font-size: 3rem;
}
